<FlexBoxLayout justify-content="space-between" flexDirection="column" height="100%" alignItems="center" [formGroup]="form">
    <FlexBoxLayout justify-content="space-between" flexDirection="column">
        <TextField hint="Voornaam" editable="true" width="80%" formControlName="firstName"></TextField>
        <TextField hint="Tussenvoegsel" editable="true" width="80%" formControlName="middleName"></TextField>
        <TextField hint="Achternaam" editable="true" width="80%" formControlName="lastName"></TextField>
    </FlexBoxLayout>
    <Button class="save-button" text="Opslaan" [isEnabled]="form.valid" (tap)="submitForm()">
    </Button>
</FlexBoxLayout>

