<ActionBar  title="bericht wijzigen" id="bar" (loaded)="onBarLoaded($event)">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="back()"></NavigationButton>
    <ActionItem *ngIf="loggedInUserId === accountId" [nsRouterLink]="['../../news-edit/' + newsId]" tap="onEdit" ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right"></ActionItem>
</ActionBar>

<StackLayout>
    <Image class="profilePicture" [src]="profilePicture"></Image>
    <Label class="newspostAuthor" [text]="firstName  + ' ' + middleName + ' ' + lastName" horizontalAlignment="center"></Label>
    <Label class="newspostDate" [text]="date | date : 'longDate'" horizontalAlignment="center"></Label>

    <Label class="newspostTitle" [text]="newsTitle" horizontalAlignment="center"></Label>
    <TextView class="newspostDescription" [text]="newsDescription" horizontalAlignment="center" editable="false"></TextView>

</StackLayout>
