<ActionBar  title="artikel toevoegen" id="bar" (loaded)="onBarLoaded($event)">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem (tap)="displayConfirmDialogSave()" tap="onSave" ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right"></ActionItem>
</ActionBar>

<StackLayout [formGroup]="form">

    <TextField
            class="marginTopField"
            hint="Titel"
            returnKeyType="next"
            formControlName="articleTitle"
    ></TextField>

    <TextView
            class="marginTopField"
            id="articleDescription"
            hint="Artikel beschrijving"
            returnKeyType="next"
            formControlName="articleDescription"
    ></TextView>

</StackLayout>
