<!-- <lg-main-action-bar [titleText]="sectionTitle"></lg-main-action-bar> -->
<ActionBar title="Evenementen">
</ActionBar>
<StackLayout>
    <SegmentedBar [items]="segmentedBarItems" id="bar" selectedIndex="0" class="seg" (selectedIndexChange)="selectionChanged()"></SegmentedBar>
    <ListView [items]="events$ | async" height="100%">
        <ng-template let-event="item" let-i="index" let-odd="odd" let-even="even">
            <FlexBoxLayout justifyContent="space-between" class="row" (tap)="openDetails(event)">
                <StackLayout orientation="horizontal">
                    <StackLayout class="dateCol">
                        <Label class="dateLabel" [text]="getDateDay(event.eventDate)"></Label>
                        <Label [text]="getDateMonth(event.eventDate)"></Label>
                    </StackLayout>
                    <Label class="eventLabel" [text]="event.eventName"></Label>
                </StackLayout>
                <Label text="&#xf054;" class="fas icon"></Label>
            </FlexBoxLayout>
        </ng-template>
    </ListView>
</StackLayout>
