<!-- <lg-main-action-bar [titleText]="sectionTitle"></lg-main-action-bar> -->
<ActionBar title="Evenementen">
</ActionBar>
<StackLayout>
    <SegmentedBar [items]="segmentedBarItems" selectedIndex="0" class="seg"></SegmentedBar>
    <ListView [items]="events" height="100%">
        <ng-template let-event="item" let-i="index" let-odd="odd" let-even="even">
            <FlexBoxLayout justifyContent="space-between" class="row">
                <StackLayout orientation="horizontal">
                    <StackLayout class="dateCol">
                        <Label class="dateLabel" [text]="event.date"></Label>
                        <Label text="April"></Label>
                    </StackLayout>
                    <Label class="eventLabel" [text]="event.name"></Label>
                </StackLayout>
                <Label text="&#xf054;" class="fas icon"></Label>
            </FlexBoxLayout>
        </ng-template>
    </ListView>
</StackLayout>
