/* Add mobile styles for the component here.  */
StackLayout {
    border-color: green;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    /*height: 100%;*/
    display: inline-block;
}

.newsText {
    padding-left: 75px;
    padding-right: 32.5px;
    font-size: 12px;

}

.newsTitle {
    margin-top: 20em;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.newsBorder {
    border-radius: 50px;
    border-width: 2px ;
    border-color: gray;
    margin-top: 10em;
    margin-bottom: 10em;
    min-height: 600px;
    max-height: 600px;
    width: 100%;
}

.newsExtra {
    color: blue;
    margin-bottom: 5%;
}

.newsAccount {
    font-size: 13px;
    font-weight: bold;
}

Label{
    height: 50px;
    width: 100%
}

Image {
    display: block;
    margin-top: 10%;
    margin-left: 7.5%;
    width: 5%;
}

TextView {
    background-color: transparent;
    border-color: transparent;
}

