<ActionBar title="Nieuws">
    <ActionItem icon="font://&#xf007;" class="fas" ios.position="right" (tap)="openProfile()"></ActionItem>
</ActionBar>
<!--<StackLayout>-->
<!--    <Button text="bericht toevoegen!" nsRouterLink="../news-add" class="btn btn-primary"></Button>-->
<!--</StackLayout>-->

<ScrollView scrollBarIndicatorVisible="false">
    <StackLayout>
        <Button text="bericht toevoegen!" nsRouterLink="../news-add" class="btn btn-primary"></Button>
        <StackLayout class="newsBorder" *ngFor="let newsitem of newsItems | async">
            <Image src="font://&#xF2b9;" horizontalAlignment="left"></Image>
            <Label class="newsText newsTitle" [text]="newsitem.title"></Label>
            <TextView class="newsText" [text]="newsitem.content"></TextView>
            <Label class="newsText newsExtra" text="Lees meer >" [nsRouterLink]="['../news-detail/' + newsitem.id]"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>

