<ns-custom-action-bar titleText="Nieuws"></ns-custom-action-bar>

<ScrollView scrollBarIndicatorVisible="false">
    <StackLayout>
        <SegmentedBar [items]="segmentedBarItems" selectedIndex="0" class="seg" (selectedIndexChange)="selectFeatured()"></SegmentedBar>
        <StackLayout class="newsBorder" *ngFor="let newsitem of newsItems | async">
            <Image src="font://&#xF2b9;" horizontalAlignment="left"></Image>
            <Label class="newsText" [text]="newsitem.date | date : 'longDate'"></Label>
            <Label class="newsText newsTitle" [text]="newsitem.title"></Label>
            <TextView  class="newsText" [text]="newsitem.content" editable="false"></TextView>
            <Label class="newsText newsExtra" text="Lees meer >"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>

