/* Add mobile styles for the component here.  */
.group {
    margin: 20em;
    border-radius: 6em;
    background-color: white;
    color: black;
}

.company-image{
    width: 120em;
    height: 120em;
    border-radius: 60em;
}

.company-title {
    font-size: 30em;
}

.job-requests {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10em;
    height: 40%;
}

.job-request {
    background-color: gray;
    border-radius: 5em;
}

.job-requests-label {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5em;
}

.job-request-button {
    display: flex;

}
