<ScrollView height="100%" class="view">
    <StackLayout class="group">
        <image [src]="imageService.getCompanyImageUrl(worksAt.company.image?.id)" (tap)="editImage()" class="company-image"></image>

        <!-- Bewerk bedrijffoto knop -->
        <FlexBoxLayout flexDirection="column" alignItems="center">
            <Button *ngIf="worksAt.role.canEditCompany" text="Bewerk bedrijfsfoto" type="button" (tap)="editImage()"></Button>
        </FlexBoxLayout>

        <FlexBoxLayout *ngIf="!editingCompany && !editingRole" flexDirection="column" alignItems="center">
            <Label [text]="worksAt.role.title" class="company-job-title"></Label>
            <Label [text]="worksAt.company.name" class="company-title"></Label>
        </FlexBoxLayout>

        <!-- Bewerk role knop -->
        <FlexBoxLayout [formGroup]="roleForm" *ngIf="editingRole" flexDirection="column" alignItems="center">
            <Label [text]="'Bewerk Rol:'"></Label>
            <TextField hint="Baan" editable="true" width="80%" formControlName="jobDescription"></TextField>
            <Button *ngIf="editingRole" text="Opslaan" (tap)="saveRole()" [disabled]="roleForm.invalid"></Button>
        </FlexBoxLayout>

        <!-- Bewerk Bedrijf knop -->
        <FlexBoxLayout [formGroup]="companyForm" *ngIf="editingCompany" flexDirection="column" alignItems="center">
            <Label [text]="'Bewerk Bedrijfsnaam:'"></Label>
            <TextField *ngIf="worksAt.role.canEditCompany" hint="Bedrijsfnaam " editable="true" width="80%" formControlName="companyName"></TextField>
            <Button *ngIf="editingCompany" text="Opslaan" (tap)="saveCompany()" [disabled]="companyForm.invalid"></Button>
        </FlexBoxLayout>


        <FlexBoxLayout [formGroup]="companyForm" *ngIf="!editingCompany && !editingRole" flexDirection="column" alignItems="center">
            <Button  text="&#xf4ff; Verander titel." class="fas icon" (tap)="toggleEditRole()"></Button>
            <Button *ngIf="worksAt.role.canEditCompany" text="&#xf4ff; Verander Bedrijfsnaam" class="fas icon" (tap)="toggleEditCompany()"></Button>
        </FlexBoxLayout>


    </StackLayout>
</ScrollView>

