<ns-action-bar-news titleText="Nieuws"></ns-action-bar-news>
<StackLayout [formGroup]="form" [items]="newsItem$ | async">

    <TextField
            class="marginTopField"
            hint="Titel"
            returnKeyType="next"
            formControlName="newsTitle"
            [text]="newsTitle"
    ></TextField>

    <TextView
            class="marginTopField"
            id="textDescription"
            hint="Bericht beschrijving"
            returnKeyType="next"
            formControlName="newsDescription"
            [text]="newsDescription"
    ></TextView>

    <Label text="Plaatsen als"></Label>

    <TextField
            [text]="userType"
            hint="Plaatsen als...."
            editable="false"
            (tap)="displayActionDialog()"
            formControlName="userType"
    ></TextField>

    <Button
            text="opslaan"
            class="btn btn-primary"
            (tap)="displayConfirmDialogSave()"
    ></Button>

    <Button
            [disabled]="true"
            text="Verwijderen"
            class="btn btn-primary"
            (tap)="displayConfirmDialogDelete()"
    ></Button>

</StackLayout>

