<ns-custom-action-bar></ns-custom-action-bar>
<StackLayout>

    <TextField
        hint="Titel"
        [text]=""
    ></TextField>

    <TextView
            class="marginTopField"
            id="textDescription"
            hint="Bericht beschrijving"
            [text]=""
    ></TextView>

    <Label
        text="Plaatsen als"
    ></Label>

    <TextField
            [text]="userType"
            hint="Plaatsen als...."
            editable="false"
            (tap)="displayActionDialog()"
    ></TextField>

    <Button
            text="Verwijderen"
            class="btn btn-primary"
            (tap)="displayConfirmDialog()"
    ></Button>

</StackLayout>

