<ns-action-bar-news titleText="Nieuws"></ns-action-bar-news>
<StackLayout>
    <TextField
            formControlName="newsTitle"
            class="marginTopField"
            hint="Titel"
            [text]=""
    ></TextField>

    <TextView
            formControlName="newsDescription"
            class="marginTopField"
            id="textDescription"
            hint="Bericht"
            [text]=""
    ></TextView>

    <Label
            text="Plaatsen als"
    ></Label>

    <TextField
            formControlName="userType"
            [text]="userType"
            hint="Plaatsen als...."
            editable="false"
            (tap)="displayActionDialog()"
    ></TextField>

<!--    <Button text="Verwijderen" class="btn btn-primary" (tap)="displayConfirmDialog()"></Button>-->
</StackLayout>


