<ActionBar title="Evenement">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout>

    <Label height="10%" [text]="event.name" horizontalAlignment="center" class="event-title"></Label>

    <Label height="5%" [text]="event.date" horizontalAlignment="center"></Label>

    <ScrollView height="50%" orientation="vertical" class="event-description-view">

        <Label [text]="event.description" class="event-description" textWrap="true"></Label>

    </ScrollView>

    <Label text="Evenement informatie" class="event-information-label" textWrap="true"></Label>
    <hr>

    <ListView [items]="options" height="20%" class="list-group event-information">
        <Label textWrap="true" text="Aanmeldingen" class="list-group-item"></Label>
        <Label text="Gastenlijst" class="list-group-item"></Label>
        <Label text="Plaats" class="list-group-item"></Label>

    </ListView>

</StackLayout>

