<ns-custom-action-bar titleText="Evenement"></ns-custom-action-bar>

<StackLayout>

    <Label height="10%" text="Tekst enzo" horizontalAlignment="center" class="event-title"></Label>

    <Label height="5%" text="14 mei" horizontalAlignment="center" ></Label>

    <ScrollView height="50%" orientation="vertical" class="event-description-view">

        <Label class="event-description" textWrap="true" text="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
        venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
        elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
        eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
        metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
        ultricies nisi. Nam eget dui."></Label>

    </ScrollView>

    <Label text="Evenement informatie" class="event-information-label" textWrap="true"></Label>
    <hr>

    <ListView height="20%" class="list-group event-information">
        <Label textWrap="true" text="Aanmeldingen" class="list-group-item"></Label>
        <Label text="Gastenlijst" class="list-group-item"></Label>
        <Label text="Plaats" class="list-group-item"></Label>
    </ListView>

</StackLayout>

