/* Add mobile styles for the component here.  */
.event-title {
    margin-top: 2%;
    font-size: 40em;
    color: #073b8f;
    height: 20%;
    text-align: center;
    text-wrap: true;
    horizontal-align: center;
}

.event-date {
    font-size: 30em;
    color: gray;
}

.event-description-view {
    height: 40%;
    orientation: vertical;
}

.event-description {
    width: 90%;
    padding: 5%;
    text-wrap: true;
}

.event-information {
    height: 20%;
    width: 90%;
    padding: 5%;
    font-size: 20em;
}

.event-information-label {
    font-size: 15em;
    width: 92%;
    padding: 4%;
    text-wrap: true;
    /*text-decoration: underline;*/
}

.divider {
    height: 1px;
    background-color: #111111;
    width: 90%;
    padding: 5%;
}

.expired-label {
    color: red;
    font-size: 15em;
    width: 92%;
    padding: 4%;
}
