<ActionBar  title="bericht wijzigen" id="bar" (loaded)="onBarLoaded($event)">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem (tap)="displayConfirmDialogSave()" tap="onSave" ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right"></ActionItem>
</ActionBar>


<StackLayout [formGroup]="form">

    <TextField
            class="marginTopField"
            hint="Titel"
            returnKeyType="next"
            formControlName="articleTitle"
            [text]="articleTitle"
    ></TextField>

    <TextView
            class="marginTopField"
            id="textDescription"
            hint="Bericht beschrijving"
            returnKeyType="next"
            formControlName="articleDescription"
            [text]="articleDescription"
    ></TextView>
</StackLayout>
