<FlexBoxLayout justify-content="space-between" flexDirection="column" height="100%" alignItems="center">
    <FlexBoxLayout justify-content="space-between" flexDirection="column">
        <TextField hint="Voornaam" editable="true" width="80%"></TextField>
        <TextField hint="Tussenvoegsel" editable="true" width="80%"></TextField>
        <TextField hint="Achternaam" editable="true" width="80%"></TextField>
    </FlexBoxLayout>
    <FlexBoxLayout justify-content="center" flexDirection="row" class="save-button">
        <Label  text="&#xf0c7;" class="fas icon indicator-icon"></Label>
        <label text="   Opslaan"></label>
    </FlexBoxLayout>
</FlexBoxLayout>

