<FlexBoxLayout justify-content="space-between" flexDirection="column" height="100%" alignItems="center" [formGroup]="form">
    <FlexBoxLayout justify-content="space-between" flexDirection="column">
        <TextField secure="true" hint="Wachtwoord"  editable="true" width="80%" formControlName="password"></TextField>
        <TextField secure="true" hint="Controle" editable="true" width="80%" formControlName="password2"></TextField>
    </FlexBoxLayout>
    <Button class="save-button" text="Wijzig" [isEnabled]="form.valid" (tap)="submitForm()"></Button>
</FlexBoxLayout>

