
<ScrollView height="100%" class="view">
    <StackLayout>


        <StackLayout class="group">
            <FlexBoxLayout justifyContent="space-between" class="row" [nsRouterLink]="['edit-name']">
                <Label  text="&#xf073;" class="fas icon indicator-icon"></Label>
                <Label text="Wijzig naam" textWrap="true"></Label>
                <Label text="&#xf054;" class="fas icon"></Label>
            </FlexBoxLayout>

            <FlexBoxLayout justifyContent="space-between" class="row" [nsRouterLink]="['edit-bio']">
                <Label  text="&#xf15c;" class="fas icon indicator-icon"></Label>
                <Label text="Wijzig bio" textWrap="true"></Label>
                <Label text="&#xf054;" class="fas icon"></Label>
            </FlexBoxLayout>
        </StackLayout>




        <StackLayout class="group">
            <FlexBoxLayout justifyContent="space-between" class="row">
                <Label  text="&#xf05a;" class="fas icon indicator-icon"></Label>
                <Label text="Voeg Bedrijf toe" textWrap="true"></Label>
                <Label text="&#xf054;" class="fas icon"></Label>
            </FlexBoxLayout>
        </StackLayout>

        <StackLayout class="group">
            <FlexBoxLayout justifyContent="space-between" class="row" [nsRouterLink]="['edit-email']">
                <Label  text="&#xf271;" class="fas icon indicator-icon"></Label>
                <Label text="Wijzig email-addres" textWrap="true"></Label>
                <Label text="&#xf054;" class="fas icon"></Label>
            </FlexBoxLayout>

            <FlexBoxLayout justifyContent="space-between" class="row"  [nsRouterLink]="['edit-password']">
                <Label  text="&#xf067;" class="fas icon indicator-icon"></Label>
                <Label text="Wijzig wachtwoord" textWrap="true"></Label>
                <Label text="&#xf054;" class="fas icon"></Label>
            </FlexBoxLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>

